 body{
    text-align: center;    
    background: rgb(180, 20, 216);
        display:flex;
        justify-content:center;
        align-items: center;
        height: 100vh;
    }

    .menu{
        background: #fff;
    }
